@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="display-4">Hello Admin!</h1>
        
    }
    <h1 class="display-4">Welcome to Hotel Reservations Manager!</h1>
</div>
